.iphone-container{
    width:100%;
}

.iphone-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;

    padding:100px;

    min-height:100vh;
}

.normal{
    flex-direction:row;
}

.reverse{
    flex-direction:row-reverse;
}

.iphone-image{
    flex:1;
    text-align:center;
}

.iphone-image img{
    width:100%;
    max-width:500px;
}

.iphone-info{
    flex:1;
}

.iphone-info h1{
    font-size:56px;
    margin-bottom:20px;
}

.iphone-info h3{
    font-size:30px;
    margin-bottom:20px;
    color:gray;
}

.iphone-info p{
    font-size:20px;
    line-height:1.7;
    margin-bottom:20px;
}

.iphone-info h4{
    font-size:28px;
    margin-bottom:10px;
}

.iphone-info h5{
    font-size:22px;
    margin-bottom:30px;
}

.iphone-info a{
    text-decoration:none;
    color:#0066cc;
    font-size:20px;
}